body {
    background: #fafafa !important;
}

.select-header .md-select-label.md-placeholder {
    color: #fff
}

.footer {
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}



md-select .md-select-label.md-placeholder{
color: #fff;
}